body {
    font-family: Arial, sans-serif;
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
}
ul {
    list-style-type: circle;
    padding: 0;
}
li {
    margin-bottom: 10px;
}

.todo-complete {
    text-decoration: line-through;
}

.input-readonly {
    border: none;
}

.input-edit {
    border: 3px solid black;
}

.hide {
    display: none;
}
